<div class="item_full">
    <strong>Name:</strong> {{firstname}} {{lastname}}<br/>
    <strong>Phone:</strong> {{phone}}<br/>
    <strong>E-Mail:</strong> {{email}}<br/><br/>
    <strong>UserId:</strong> {{userid}}<br/><br/>
    <strong>Role:</strong> {{role}}<br/><br/>

</div>

<a href="#" class="back"><< Back</a> | <a href="#" class="delete">Delete User</a>
